<header class="c-header c-header-light px-3">
  <ul class="c-header-nav">
    <li class="c-header-nav-item">
      <a class="c-header-nav-link" href="#">BLOG</a>
    </li>
    <li class="c-header-nav-item">
      <a class="c-header-nav-link" href="#">BUSINESS</a>
    </li>
    <li class="c-header-nav-item">
      <a class="c-header-nav-link" href="#">PRODUCTS</a>
    </li>
    <li class="c-header-nav-item">
      <a class="c-header-nav-link" href="#">JOBS</a>
    </li>
    <li class="c-header-nav-item">
      <a class="c-header-nav-link" href="#">CONTACTS</a>
    </li>
    <li class="c-header-nav-item">
      <a class="c-header-nav-link" href="#">DOWNLOADS</a>
    </li>
    <li class="c-header-nav-item dropdown">
      <a class="c-header-nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
        data-toggle="dropdown" aria-expanded="false">
        EN
      </a>
      <div class="dropdown-menu text-center" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">FR</a>
        <a class="dropdown-item" href="#">NL</a>
        <a class="dropdown-item" href="#">DE</a>
        <a class="dropdown-item" href="#">IT</a>
        <a class="dropdown-item" href="#">ES</a>
        <a class="dropdown-item" href="#">PT</a>
        <a class="dropdown-item" href="#">PL</a>
        <a class="dropdown-item" href="#">EL</a>
        <a class="dropdown-item" href="#">CN</a>
        <a class="dropdown-item" href="#">RU</a>
        <a class="dropdown-item" href="#">JP</a>
        <a class="dropdown-item" href="#">AR</a>
      </div>
    </li>
  </ul>
</header>
