header {
  border-bottom: none;
}
ul {
  margin-left: 35px;
  margin-top: 15px;
  li {
    margin: 0 30px 0 0;
    a {
      padding: 4px 31px 2px 0;
      color: #ab283a !important;
      font-weight: bold;
      font-size: 17px;
      font-family: Arial, Helvetica, sans-serif;
      background-image: url(https://www.lutosa.com/intro-uk/css/1400/bg-menu.jpg);
      background-repeat: no-repeat;
      background-position: top right;
      &:hover {
        color: #f89553 !important;
      }
    }
  }
  li:last-child a {
    background-image: none;
  }
}
