<div class="div-home">
  <div>
    <img src="https://www.lutosa.com/intro-uk/css/1400/header.jpg">
  </div>
  <div class="row div-first">
    <div class="col-7 div-first-sub">
      <img src="https://www.lutosa.com/intro-uk/css/1400/point1.jpg" alt="illu">
      <div>
        <p>In Lutosa’s world, potatoes are our passion. The ideal terrain, outstanding expertise, and people of talent,
          all contribute to the production of the jewel of Belgian cuisine. It is no coincidence that in Belgium “having
          french fries”
          means being full of energy…
        </p>
        <a class="link-btn link-btn1" href="#">Mission</a>
        <a class="link-btn link-btn2" href="#">I love Belgian fries</a>
        <a class="link-btn link-btn3" href="#">Organisation</a>
      </div>
    </div>
    <div class="col-5">
      <img src="https://www.lutosa.com/intro-uk/css/1400/cornet.jpg" alt="illu">
    </div>
  </div>
  <div class="row div-second">
    <div class="roue">
      <div class="roue1"><img src="https://www.lutosa.com/intro-uk/css/1400/roue1.png" alt="icon-roue"></div>
      <div class="roue2"><img src="https://www.lutosa.com/intro-uk/css/1400/roue2.png" alt="icon-roue"></div>
      <div class="roue3"><img src="https://www.lutosa.com/intro-uk/css/1400/roue3.png" alt="icon-roue"></div>
      <div class="roue4"><img src="https://www.lutosa.com/intro-uk/css/1400/roue4.png" alt="icon-roue"></div>
      <div class="numero">2</div>
  </div>
  </div>
  <div class="row div-third">

  </div>
</div>
